/* -------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #393e46;
}
nav {
  background-color: #222831;
  padding: 5px;
  text-align: center;
  user-select: none;
}
.nav_container {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-around;
}
.nav_container_brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_brandName{
  font-size: small;
}
.nav_container_brand img {
  margin-top: 5px;
  width: 40px;
  border-radius: 50px;
  box-shadow: 2px 2px black;
  margin-right: 10px;
  margin-bottom: 5px;
}
.nav_container_brand_product{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input Field */
.form_input_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form_select_div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.form_button_div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.inputField{
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 2px black;
  outline: none;
  border: none;
}
.inputField::placeholder{
  color: #292b2d;
}
.cssDropdown{
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  outline: none;
  user-select: none;
  box-shadow: 1px 2px black;
  border: none;
}
.cssAddBtn{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #222831;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 2px black;
  margin-top: 10px;
  user-select: none;
  transition-property: background-color;
  transition-duration: 200ms;

}
.cssAddBtn:hover{
  background-color: #4a4c4d;
}

/* SearchBar */
.searchBarDiv{
  display: flex;
  user-select: none;
  
}
.searchBar_inp{
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: 1px 1px black;
  outline: none;
}
.searchBar_btn{
  padding: 10px;
  outline: none;
  background-color: #222831;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  box-shadow: 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.searchBar_inp::placeholder{
  color: #292b2d;
}




/* ------ */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(253, 0, 0);
}

.quickSelect {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #6c8cbe;
  user-select: none;
}
.quickSelect ul {
  display: flex;
  list-style: none;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.quickSelect ul::-webkit-scrollbar {
  height: 2px;
}
.quickSelect ul::-webkit-scrollbar-thumb {
  background: rgb(253, 0, 0);
}

.quickSelect ul li {
  padding: 10px;
  border: 1px solid black;
  background-color: #00adb5;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor:pointer;
  box-shadow: 1px 3px black;
  transition-property: transform, background-color, color ;
  transition-delay: 100ms,100ms,100ms;
  transition-duration: 200ms,200ms,200ms;

}
.quickSelect ul li:hover{
  transform:translateY(-5px);
  background-color: #00acb56f;
  color: rgb(206, 201, 201);
}
/* ----------- */
.question {
  background-color: #b7c4cf;
  margin: 10px;
  padding: 10px;
  border: 1px solid #6e85b7;
  border-radius: 5px;
}
.prob{
  background-color: #d7e3e4;
  border-radius: 5px;
  font-size: x-large;
  padding: 5px;
  margin-bottom: 5px;
}
.link{
  text-decoration: none;
}
.type{
  font-weight: bold;
}
.desc{
  color: #393e46;
}
/* ----------- */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.all_list {
  background-color: #f6f6f6;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.all_list::-webkit-scrollbar {
  width: 5px;
  background-color: #393e4634;
}
.all_list::-webkit-scrollbar-thumb {
  background: #aac4ff;
  border-radius: 10px;
}

.h2 {
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  font-size: large;
  font-family: "Roboto Mono", monospace;
}
.h4 {
  margin-left: 10px;
  margin-top: 5px;
  font-size: larger;
}

.target_list {
  background-color: #eeeeee;
  overflow-x: hidden;
  overflow-y: scroll;
  height:80vh ;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
.target_list_container{

}
.target_list_div{
  display: flex;
  justify-content: center;
  background-color: #222831;
}
.target_list_div_h2{
  color: white;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}
/* ----------------- */
.targetQuestion{
  background-color: #739de0;
}



.btnDone{
  padding: 10px;
  margin-top: 10px;
  background-color: #393e46;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.btnDone:hover{
  background-color: #292b2d;
  cursor: pointer;
}
/* ----------------- */
.nMQ{
  font-size: xx-large;
  text-align: center;
  color: #393e4681;
  font-family: 'Courier New', Courier, monospace;
  display: none;
  margin-top: 10px;
}







/* Footer */
footer {
  background-color: #222831;
}
footer div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.aRR {
  color: #00adb5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer_p {
  color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}













/* AlartBox */
.alartBox{
  position: absolute;
  width: 30vw;
  height: 50px;
  background-color: #00adb5;
  border-radius: 5px;
  margin-top: 10px;
  right: 1%;
  user-select: none;
  border: 2px solid #6c8cbe;
  box-shadow: 2px 2px black;
  overflow: hidden;
  display: none;
  opacity:1;

}
.alartMessage{
  padding: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  word-wrap: none;
 
}
.animationAlart{
    animation-name: alart;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes alart {
  0%{
    width: 0px;
  }
  25%{
    width: 30vw;
  }
  50%{
    width: 30vw;
  }
  75%{
    width: 30vw;
  }
  100%{
    opacity: 0;
  }
}
