/* -------------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #393e46;
}
nav {
  background-color: #222831;
  padding: 5px;
  text-align: center;
}
.nav_container {
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}
.nav_container_brand img {
  width: 40px;
}

.form_input_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.form_select_div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.form_button_div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgb(253, 0, 0);
}

.quickSelect {
  /* margin-top: 10px; */
  /* margin-bottom: 5px; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px solid #6c8cbe;
}
.quickSelect ul {
  display: flex;
  list-style: none;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.quickSelect ul::-webkit-scrollbar {
  height: 2px;
}
.quickSelect ul::-webkit-scrollbar-thumb {
  background: rgb(253, 0, 0);
}

.quickSelect ul li {
  padding: 10px;
  border: 1px solid black;
  background-color: #00adb5;
  margin-left: 1px;
  margin-right: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* ----------- */
.question {
  background-color: #b7c4cf;
  margin: 10px;
  padding: 10px;
  border: 1px solid #6e85b7;
  border-radius: 5px;
}
.prob{
  background-color: #d7e3e4;
  border-radius: 5px;
  font-size: x-large;
  padding: 5px;
  margin-bottom: 5px;
}
.link{
  text-decoration: none;
}
.type{
  font-weight: bold;
}
.desc{
  color: #393e46;
}
/* ----------- */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.all_list {
  background-color: #f6f6f6;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.all_list::-webkit-scrollbar {
  width: 5px;
  background-color: #393e4634;
}
.all_list::-webkit-scrollbar-thumb {
  background: #aac4ff;
  border-radius: 10px;
}

.h2 {
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  font-size: large;
  font-family: "Roboto Mono", monospace;
}
.h4 {
  margin-left: 10px;
  margin-top: 5px;
  font-size: larger;
}

.target_list {
  background-color: #eeeeee;
}
.target_list_div{
  display: flex;
  justify-content: center;
  background-color: #222831;
}
.target_list_div_h2{
  color: white;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}
/* ----------------- */
.targetQuestion{
  background-color: #739de0;
}



.btnDone{
  padding: 10px;
  margin-top: 10px;
  background-color: #393e46;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.btnDone:hover{
  background-color: #292b2d;
  cursor: pointer;
}
/* ----------------- */
.nMQ{
  font-size: xx-large;
  text-align: center;
  color: #393e4681;
  font-family: 'Courier New', Courier, monospace;
  display: none;
  margin-top: 10px;
}







/* Footer */
footer {
  background-color: #222831;
}
footer div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.aRR {
  color: #00adb5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer_p {
  color: #eeeeee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
